@model Vts.WebLib.ViewModels.ConstituencyViewModel
@{
    ViewBag.Title = "Constituency Details";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Constituency")">Constituencies</a></li>
    <li class="breadcrumb-item active">Delete County</li>
</ol>
@{
    if (@ViewBag.AlertMessage != "")
    {
        <div id="alert" class="alert @ViewBag.AlertType" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span>@ViewBag.AlertMessage</span>
        </div>
    }
}
<div class="layout-content-body">
    <div class="title-bar">
        <h1 class="title-bar-title">
            <span class="d-ib icon icon-map"></span>
            <span class="d-ib">Delete Constituency</span>
            <hr />
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Constituency.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Constituency.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Constituency.Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Constituency.Code)
                    </dd>
                    <dt>
                        County
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Constituency.County.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Constituency.DateCreated)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Constituency.DateCreated)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Constituency.DateLastUpdated)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Constituency.DateLastUpdated)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Constituency.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Constituency.Status)
                    </dd>

                </dl>
            </div>
        </div>

        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Delete" class="btn btn-default" /> &nbsp;
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            }
        </div>
    </div>
</div>


