@model Vts.WebLib.ViewModels.ConstituencyViewModel

@{
    ViewBag.Title = "Edit Constituency";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Constituency")">Constituencies</a></li>
    <li class="breadcrumb-item active">Edit County</li>
</ol>
@{
    if (@ViewBag.AlertMessage != "")
    {
        <div id="alert" class="alert @ViewBag.AlertType" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span>@ViewBag.AlertMessage</span>
        </div>
    }
}

<div class="layout-content-body">
    <div class="title-bar">
        <h1 class="title-bar-title">
            <span class="d-ib icon icon-map"></span>
            <span class="d-ib">Edit Constituency</span>
            <hr />
        </h1>
    </div>
    <div class="row">
        <div class="col-md-8 form-wrapper">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Constituency.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Constituency.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Constituency.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Constituency.Code, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Constituency.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Constituency.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Constituency.County, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Constituency.County.Id, new SelectList(ViewBag.RegionList, "Key", "Value"), "Select County", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Constituency.County.Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Edit" class="btn btn-default" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            @Html.HiddenFor(n => n.Constituency.DateCreated)
                            @Html.HiddenFor(n => n.Constituency.Status)
                            @Html.HiddenFor(model => model.Constituency.Id)

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


