@using Microsoft.AspNet.Identity
<div class="layout-header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-center" href="@Url.Action("Index","Home")">
                <img class="navbar-brand-logo" src="../../img/etally.png" alt="e-Tally">
            </a>
            <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse"
                    data-target="#sidenav">
                <span class="sr-only">Toggle navigation</span>
                <span class="bars">
                    <span class="bar-line bar-line-1 out"></span>
                    <span class="bar-line bar-line-2 out"></span>
                    <span class="bar-line bar-line-3 out"></span>
                </span>
                <span class="bars bars-x">
                    <span class="bar-line bar-line-4"></span>
                    <span class="bar-line bar-line-5"></span>
                </span>
            </button>
            <span class="tagline visible-md-block visible-lg-block">Electronic Votes Tallying System</span>
            <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse"
                    data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="arrow-up"></span>
                <span class="ellipsis ellipsis-vertical">
                    <img class="ellipsis-object" width="32" height="32" src="../../img/bethuel.png" alt="Bethuel Lulalire">
                </span>
            </button>
        </div>
        <div class="navbar-toggleable">
            <nav id="navbar" class="navbar-collapse collapse">
                <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                        <span class="bar-line bar-line-1 out"></span>
                        <span class="bar-line bar-line-2 out"></span>
                        <span class="bar-line bar-line-3 out"></span>
                        <span class="bar-line bar-line-4 in"></span>
                        <span class="bar-line bar-line-5 in"></span>
                        <span class="bar-line bar-line-6 in"></span>
                    </span>
                </button>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
                     {
                         @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li class="visible-xs-block">
                                <h4 class="navbar-text text-center">Hi, @User.Identity.GetUserName()</h4>
                            </li>
                            <li class="dropdown hidden-xs">
                                <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                                    <img class="rounded" width="36" height="36" src="../../img/bethuel.png" alt="">
                                    Welcome @User.Identity.GetUserName()!
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:;">Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("ChangePassword", "Manage")">Change Password</a></li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                                </ul>
                            </li>
                            <li class="visible-xs-block">
                                <a href="javascript:;">
                                    <span class="icon icon-user icon-lg icon-fw"></span>
                                    Profile
                                </a>
                            </li>
                            <li class="visible-xs-block">
                                <a href="@Url.Action("ChangePassword", "Manage")">
                                    <span class="icon icon-key icon-lg icon-fw"></span>
                                    Change Password
                                </a>
                            </li>
                            <li class="visible-xs-block">

                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <span class="icon icon-sign-out icon-lg icon-fw"></span>
                                    Logout
                                </a>

                            </li>
                        </ul>
                    }
                }
                
            </nav>
        </div>
    </div>
</div>
